table {
    text-align: center;
  }

  .table-container {
    display: inline-block; 
    margin: 0 auto; 
  }
  
  .table {
    width: auto; 
    margin-top: 20px; 
  }
  
  .table th, .table td {
    white-space: nowrap; 
    padding: 8px 15px;
  }

  p {
    font-family: 'Inknut Antiqua', sans-serif; 
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #000; 
    text-align: left; 
    line-height: 0.5;
  }