p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 1.5; /* Un valor común para una buena legibilidad */
    letter-spacing: 0;
    /* Agrega aquí otras propiedades de estilo si las necesitas, como color, alineación, etc. */
  }
    